.card {
    color: #222222;
    background: lightgray;
    width: 300px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    
    /* Challenge:
    Change the values to match the design
    in the slide */
    border: 4px solid #222222;
    border-radius: 20px;
    
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
