body {
    margin: 10px;
    text-align:center;
    color:red;
    direction: rtl;
    line-height: 20px;
}

/*
Challenge:
Navigate to the Stack Overflow question and pick a 
few inherited CSS properties. Add them to the body
tag to see how they work.
*/